<h2>
  Por Capital
</h2>

<hr>

<div class="row">
  <div class="col">
    <!-- Searchbos -->
    <shared-search-box
      placeholder="Buscar por Capital"
      (ondebounce)="searchbyCapital( $event )"
    >

    </shared-search-box>

  </div>
</div>

<div class="row">
  <div class="col">
    <!-- tabla de resultados -->
    <hr>
    <shared-loading-spiner *ngIf="isloading">

    </shared-loading-spiner>
    <country-table
      [countries]="countries"
    >

    </country-table>
  </div>
</div>
